<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0" />
  <block>
    <% var path= $path(1) || "1"; %>
    <title>{{ $path(0) + '-' + path }}</title>
  </block>
</head>

<body>
  <block src="/include/_nav.html"></block>
  <block>
    <% var path= $path(1) || "1"; %>
    <div class="conatiner">
      <div class="lazyswitch" :data-sort="$path(0)*10+path">
        <style>
          .conatiner [data-path="/{{$path(0)+'/'+path}}"] {
            background: <%="rgb("+ Math.floor(Math.random() * 256) + ","+ Math.floor(Math.random() * 256) + ","+ Math.floor(Math.random() * 256) + ")"%>;
          }
        </style>
        <script>
          console.log("{{ $path(0)+" - "+path }}");
        </script>
        {{ $path(0) + '-' + path }}
      </div>
    </div>
  </block>
  <script>
    LazySwitch.addEventListener(LazySwitch.PageEvent.PAGE_SWITCH_BEFORE, test);
    LazySwitch.addEventListener(LazySwitch.PageEvent.PAGE_FIRST_IN, test);
    LazySwitch.addEventListener(LazySwitch.PageEvent.PAGE_IN_START, test);
    LazySwitch.addEventListener(LazySwitch.PageEvent.PAGE_IN_END, test);
    LazySwitch.addEventListener(LazySwitch.PageEvent.PAGE_OUT_START, test);
    LazySwitch.addEventListener(LazySwitch.PageEvent.PAGE_OUT_END, test);
    function test(e) {
      console.log(e);
      if (e.type == LazySwitch.PageEvent.PAGE_SWITCH_BEFORE) {
        //e.data.hello = true;
        var from = e.data.from;
        var to = e.data.to;
        var fromPath = from.getAttribute("data-path");
        var toPath = to.getAttribute("data-path");
        if (fromPath.charAt(1) == toPath.charAt(1)) {
          e.data.animate = "slidevertical";
        }
      }
    }
  </script>
</body>

</html>